<!DOCTYPE sqlMap PUBLIC "-//ibatis.apache.org//DTD SQL MAP 2.0//EN"
"http://ibatis.apache.org/dtd/sql-map-2.dtd">

<sqlMap namespace="menu">
	<select id="selectListMenuHead" resultClass="general.MenuBean">
		SELECT
		MENU_ID as
		menuId,
		UPDATED_BY as updatedBy,
		CREATED_BY as createdBy,
		MENU_CODE as
		menuCode,
		MENU_CAPTION as menuCaption,
		PARENT_ID as parentId,
		MENU_CRUD
		as menuCrud,
		MENU_INDEX as menuIndex,
		MENU_URL as menuUrl,
		TO_CHAR(CREATE_DATE,'yyyy-MM-dd') as createDateInString ,
		TO_CHAR(UPDATE_DATE,'yyyy-MM-dd') as updateDateInString,
		IS_PARENT as
		isParent
		FROM menu
		WHERE parent_id IS NULL
	</select>

	<select id="selectListMenuByParent" parameterClass="java.lang.Integer"
		resultClass="general.MenuBean">
		SELECT
		MENU_ID as menuId,
		UPDATED_BY as updatedBy,
		CREATED_BY
		as createdBy,
		MENU_CODE as menuCode,
		MENU_CAPTION as menuCaption,
		PARENT_ID as parentId,
		MENU_CRUD as menuCrud,
		MENU_INDEX as menuIndex,
		MENU_URL as menuUrl,
		TO_CHAR(CREATE_DATE,'yyyy-MM-dd') as
		createDateInString ,
		TO_CHAR(UPDATE_DATE,'yyyy-MM-dd') as
		updateDateInString,
		IS_PARENT as isParent
		FROM menu
		WHERE parent_id =
		#value#
	</select>
	
	<select id="getMenuByMenuId" parameterClass="java.lang.Integer" resultClass="general.MenuBean"> 
	SELECT
		MENU_ID 			as menuId,
		UPDATED_BY 			as updatedBy,
		CREATED_BY 			as createdBy,
		MENU_CODE 			as menuCode,
		MENU_CAPTION 		as menuCaption,
		PARENT_ID 			as parentId,
		MENU_CRUD 			as menuCrud,
		MENU_INDEX 			as menuIndex,
		MENU_URL 			as menuUrl,
		TO_CHAR(CREATE_DATE,'yyyy-MM-dd') as createDateInString ,
		TO_CHAR(UPDATE_DATE,'yyyy-MM-dd') as updateDateInString,
		IS_PARENT 			as isParent
		FROM menu
		where menu_id = #tmpMenuId#
	</select>

	<select id="selectListMenu" resultClass="general.MenuBean"
		parameterClass="java.util.Map">
		select * from(
		select m.* , ROWNUM rnum from (SELECT
		MENU_ID 			as menuId,
		UPDATED_BY 			as updatedBy,
		CREATED_BY 			as createdBy,
		MENU_CODE 			as menuCode,
		MENU_CAPTION 		as menuCaption,
		PARENT_ID 			as parentId,
		MENU_CRUD 			as menuCrud,
		MENU_INDEX 			as menuIndex,
		MENU_URL 			as menuUrl,
		TO_CHAR(CREATE_DATE,'yyyy-MM-dd') as createDateInString ,
		TO_CHAR(UPDATE_DATE,'yyyy-MM-dd') as updateDateInString,
		IS_PARENT 			as isParent,
		PARENT_NAME			as parentName
		FROM vmenu
		where 1=1
		<dynamic prepend="AND">
			<isEqual property="searchField" compareValue="menuCode">
				LOWER(menu_code) LIKE LOWER( '%' || #searchValue# || '%' )
			</isEqual>
		</dynamic>
		<dynamic prepend="AND">
			<isEqual property="searchField" compareValue="menuCaption">
				LOWER(menu_caption) LIKE LOWER( '%' || #searchValue# || '%' )
			</isEqual>
		</dynamic>		
		<dynamic prepend="AND">
			<isEqual property="searchField" compareValue="parentId">
				LOWER(parent_id) LIKE LOWER( '%' || #searchValue# || '%' )
			</isEqual>
		</dynamic>				
		<dynamic prepend="AND">
			<isEqual property="searchField" compareValue="menuCrud">
				LOWER(menu_crud) LIKE LOWER( '%' || #searchValue# || '%' )
			</isEqual>
		</dynamic>	
		<dynamic prepend="AND">
			<isEqual property="searchField" compareValue="menuUrl">
				LOWER(menu_url) LIKE LOWER( '%' || #searchValue# || '%' )
			</isEqual>
		</dynamic>	
		<dynamic prepend="AND">
			<isEqual property="searchField" compareValue="isParent">
				LOWER(is_parent) LIKE LOWER( '%' || #searchValue# || '%' )
			</isEqual>
		</dynamic>										
		order by menu_id) m
		where ROWNUM &lt;= #end#)
		where rnum &gt;
		#begin#
	</select>

	<insert id="insertMenu" parameterClass="general.MenuBean">
		INSERT INTO MENU(
		MENU_ID,
		UPDATED_BY,
		CREATED_BY,
		MENU_CODE,
		MENU_CAPTION,
		PARENT_ID,
		MENU_CRUD,
		MENU_INDEX,
		MENU_URL,
		CREATE_DATE,
		UPDATE_DATE,
		IS_PARENT)
		VALUES(
		#menuId#,#updatedBy#,#createdBy#,#menuCode#,#menuCaption#,#parentId#,#menuCrud#,#menuIndex#,#menuUrl#,
		TO_DATE(#createDateInString#,'yyyy-MM-dd'),
		TO_DATE(#updateDateInString#,'yyyy-MM-dd'),
		#isParent#)
	</insert>

	<update id="updateMenu" parameterClass="general.MenuBean">
		UPDATE MENU SET
		UPDATED_BY = #updatedBy#,
		MENU_CODE = #menuCode#,
		MENU_CAPTION =
		#menuCaption#,
		PARENT_ID = #parentId#,
		MENU_CRUD = #menuCrud#,
		MENU_INDEX = #menuIndex#,
		MENU_URL = #menuUrl#,
		UPDATE_DATE =
		TO_DATE(#updateDateInString#,'yyyy-MM-dd'),
		IS_PARENT = #isParent#)
		WHERE MENU_ID = #menuId#
	</update>

	<delete id="deleteEmployee" parameterClass="java.lang.Integer">
		DELETE FROM MENU
		WHERE MENU_ID = #menuId#
	</delete>

	<select id="countMenu" resultClass="java.lang.Integer"
		parameterClass="java.util.Map">
		SELECT COUNT(1) FROM MENU
				where 1=1
		<dynamic prepend="AND">
			<isEqual property="searchField" compareValue="menuCode">
				LOWER(menu_code) LIKE LOWER( '%' || #searchValue# || '%' )
			</isEqual>
		</dynamic>
		<dynamic prepend="AND">
			<isEqual property="searchField" compareValue="menuCaption">
				LOWER(menu_caption) LIKE LOWER( '%' || #searchValue# || '%' )
			</isEqual>
		</dynamic>		
		<dynamic prepend="AND">
			<isEqual property="searchField" compareValue="parentId">
				LOWER(parent_id) LIKE LOWER( '%' || #searchValue# || '%' )
			</isEqual>
		</dynamic>				
		<dynamic prepend="AND">
			<isEqual property="searchField" compareValue="menuCrud">
				LOWER(menu_crud) LIKE LOWER( '%' || #searchValue# || '%' )
			</isEqual>
		</dynamic>	
		<dynamic prepend="AND">
			<isEqual property="searchField" compareValue="menuUrl">
				LOWER(menu_url) LIKE LOWER( '%' || #searchValue# || '%' )
			</isEqual>
		</dynamic>	
		<dynamic prepend="AND">
			<isEqual property="searchField" compareValue="isParent">
				LOWER(is_parent) LIKE LOWER( '%' || #searchValue# || '%' )
			</isEqual>
		</dynamic>	
	</select>
</sqlMap>